En este notebook vemos c칩mo usar los `modelos entrenados` que produce la clase scorecard para hacer predicciones en dos datasets de Kaggle 游땙

<span style='color:blue'>Importamos los m칩dulos

In [1]:
import sys, numpy as np, pandas as pd, memento as me

<span style='color:blue'>Cargamos el primer dataset, del **Titanic**

In [2]:
df_train = pd.read_csv('train titanic.csv')
L = list(me.proc_freq(df_train, 'Survived').frequency)
print('Sobrevivieron {}. Murieron {} (entre ellos Leonardo DiCaprio)'.format(L[1], L[0]))
X, y = df_train.drop('Survived', axis=1), df_train.Survived.values

Sobrevivieron 342. Murieron 549 (entre ellos Leonardo DiCaprio)

<span style='color:blue'>Sacamos una primera scorecard excluyendo las variables `PassengerId` y `Name`

In [3]:
modelo_titanic1 = me.scorecard(excluded_vars=['PassengerId', 'Name']).fit(X, y)

Particionado 70-30 estratificado en el target terminado
------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (14) superior al n칰mero de variables candidatas (9)
------------------------------------------------------------------------------------------------------------------------
Posibles variables con overfitting: ['Ticket']
------------------------------------------------------------------------------------------------------------------------
Step 01 | 0:00:00.172926 | pv = 8.59e-39 | Gini train = 55.81% | Gini test = 47.71% ---> Feature selected: Sex
Step 02 | 0:00:00.296943 | pv = 8.16e-18 | Gini train = 97.35% | Gini test = 45.15% ---> Feature selected: Ticket
Step 03 | 0:00:00.304477 | pv = 4.92e-03 | Gini train = 98.09% | Gini test = 43.45% ---> Feature selected: SibSp
Step 04 | 0:00:00.283723 | pv = 8.77e-03 | Gini train = 98.44% | Gini test = 53.52% ---> Feature selected: Cabin
Step 05 | 0:00:00.287567 | pv = 6.27e-03 | Gini train = 98.75% | Gini test = 50.94% ---> Feature selected: Pclass
------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso
------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['Sex', 'Ticket', 'SibSp', 'Cabin', 'Pclass']
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 93.80% de KS y un 98.75% de Gini en la muestra de entrenamiento
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 51.72% de KS y un 50.94% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Tremendo batacazo del train al test... Esto es un claro ejemplo de **sobreajuste**, de hecho, el propio log del modelo nos avisa de que cuidado con `Ticket`. Vemos que tiene sentido: es una variable con un iv desmesuradamente alto y con much칤sima granularidad

In [4]:
display(modelo_titanic1.tabla_ivs.head(3))
print('Valores distintos variable Ticket: {}'.format(len(X['Ticket'].value_counts())))

  variable        iv
0   Ticket  7.014385
1    Cabin  1.529741
2      Sex  1.479819

Valores distintos variable Ticket: 681

<span style='color:blue'>Sacamos una segunda versi칩n del modelo excluyendo esta variable `Ticket`

In [5]:
modelo_titanic2 = me.scorecard(excluded_vars=['PassengerId', 'Name', 'Ticket']).fit(X, y)

Particionado 70-30 estratificado en el target terminado
------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (14) superior al n칰mero de variables candidatas (8)
------------------------------------------------------------------------------------------------------------------------
Step 01 | 0:00:00.206477 | pv = 8.59e-39 | Gini train = 55.81% | Gini test = 47.71% ---> Feature selected: Sex
Step 02 | 0:00:00.278350 | pv = 1.08e-11 | Gini train = 67.27% | Gini test = 64.78% ---> Feature selected: Pclass
Step 03 | 0:00:00.241625 | pv = 3.03e-08 | Gini train = 72.65% | Gini test = 61.45% ---> Feature selected: Cabin
Step 04 | 0:00:00.248418 | pv = 2.48e-04 | Gini train = 75.60% | Gini test = 61.67% ---> Feature selected: Age
------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso
------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['Sex', 'Pclass', 'Cabin', 'Age']
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 68.22% de KS y un 75.60% de Gini en la muestra de entrenamiento
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 55.86% de KS y un 61.67% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Mucho mejor, sin embargo, seguimos teniendo cierto desplome

In [6]:
print('Caida de Gini de train a test: {:.2f}%'.format(
100*(modelo_titanic2.gini_train - modelo_titanic2.gini_test) / modelo_titanic2.gini_train))

Caida de Gini de train a test: 18.44%

<span style='color:blue'>Vemos que la diferencia entre tain y test se acent칰a tras a침adir la variable `Cabin`... Sacamos una tercera versi칩n excluyendo tambi칠n a `Cabin`

In [7]:
modelo_titanic3 = me.scorecard(excluded_vars=['PassengerId', 'Name', 'Ticket', 'Cabin']).fit(X, y)

Particionado 70-30 estratificado en el target terminado
------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (14) superior al n칰mero de variables candidatas (7)
------------------------------------------------------------------------------------------------------------------------
Step 01 | 0:00:00.199465 | pv = 8.59e-39 | Gini train = 55.81% | Gini test = 47.71% ---> Feature selected: Sex
Step 02 | 0:00:00.202337 | pv = 1.08e-11 | Gini train = 67.27% | Gini test = 64.78% ---> Feature selected: Pclass
Step 03 | 0:00:00.210616 | pv = 5.87e-06 | Gini train = 71.36% | Gini test = 65.31% ---> Feature selected: Age
------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso
------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['Sex', 'Pclass', 'Age']
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 61.55% de KS y un 71.36% de Gini en la muestra de entrenamiento
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 55.98% de KS y un 65.31% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Este 칰ltimo modelo solo tiene 3 variables.. Bueno y qu칠 pasa?! `#minimalism` 游땕

In [8]:
me.pretty_scorecard(modelo_titanic3, 'green')

<span style='color:blue'>Vamos a usar estos modelos para hacer **predicciones** y subir las submissions resultantes a Kaggle

In [9]:
df_test = pd.read_csv('test titanic.csv')

<span style='color:blue'>El m칠todo `.predict()` es el responsable de aplicar el modelo a un nuevo dataframe. La variable que contiene la puntuaci칩n final es `scorecardpoints`, esta puntuaci칩n est치 calibrada con PEO (points equal odds, donde la tasa de malos es 1/2) en 500 puntos y un PDO (points to double odds) de 20 puntos. Tambi칠n se genera, para cada variable del modelo final, una columna con la puntuaci칩n parcial que aporta dicha variable (las columnas 'scr_'). Por 칰ltimo, podemos darle un umbral para sacar la columna 'prediction' con una predicci칩n binaria

In [10]:
modelo_titanic1.predict(df_test, keep_columns=['PassengerId'], binary_treshold=500)

,PassengerId,Sex,Ticket,SibSp,Cabin,Pclass,scr_Sex,scr_Ticket,scr_SibSp,scr_Cabin,scr_Pclass,scorecardpoints,prediction
0,892,male,330911,0,NaN,3,145,3,95,112,81,436,1
1,893,female,363272,1,NaN,3,38,3,134,112,81,368,1
2,894,male,240276,0,NaN,2,145,3,95,112,120,475,1
3,895,male,315154,0,NaN,3,145,3,95,112,81,436,1
4,896,female,3101298,1,NaN,3,38,3,134,112,81,368,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,male,A.5. 3236,0,NaN,3,145,3,95,112,81,436,1
414,1306,female,PC 17758,0,C105,1,38,271,95,14,134,552,0
415,1307,male,SOTON/O.Q. 3101262,0,NaN,3,145,3,95,112,81,436,1
416,1308,male,359309,0,NaN,3,145,3,95,112,81,436,1
417,1309,male,2668,1,NaN,3,145,3,134,112,81,475,1

<span style='color:blue'>Generamos las submissions como archivos .csv para subirlas a Kaggle

In [11]:
modelo_titanic1.predict(df_test, keep_columns=['PassengerId'], binary_treshold=500)\
.rename(columns={'prediction': 'Survived'})[['PassengerId', 'Survived']]\
.to_csv('submission_titanic1.csv', index=False) # Score en Kaggle = 0.44258

modelo_titanic2.predict(df_test, keep_columns=['PassengerId'], binary_treshold=500)\
.rename(columns={'prediction': 'Survived'})[['PassengerId', 'Survived']]\
.to_csv('submission_titanic2.csv', index=False) # Score en Kaggle = 0.72727

modelo_titanic3.predict(df_test, keep_columns=['PassengerId'], binary_treshold=500)\
.rename(columns={'prediction': 'Survived'})[['PassengerId', 'Survived']]\
.to_csv('submission_titanic3.csv', index=False) # Score en Kaggle = 0.77272

<span style='color:blue'>Vamos ahora con otro dataframe de Kaggle similar: **Spaceship Titanic**

In [12]:
df_train = pd.read_csv('train dimension.csv')
df_train['Transported'] = np.where(df_train['Transported'] == True, 1, 0)
L = list(me.proc_freq(df_train, 'Transported').frequency)
print('Trasportados: {}. No trasportados: {}'.format(L[1], L[0]))
X, y = df_train.drop('Transported', axis=1), df_train.Transported.values

Trasportados: 4378. No trasportados: 4315

<span style='color:blue'>Tiramos un primer modelo excluyendo las variables `PassengerId` y `Name`

In [13]:
modelo_spaceship1 = me.scorecard(excluded_vars=['PassengerId', 'Name']).fit(X, y)

Particionado 70-30 estratificado en el target terminado
------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas por alg칰n error, seguramente por excesiva concentraci칩n en alg칰n valor (> 95%) : ['VIP']
------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (14) superior al n칰mero de variables candidatas (10)
------------------------------------------------------------------------------------------------------------------------
Posibles variables con overfitting: ['Cabin']
------------------------------------------------------------------------------------------------------------------------
Step 01 | 0:00:00.494446 | pv = 0.00e+00 | Gini train = 43.60% | Gini test = 44.52% ---> Feature selected: CryoSleep
Step 02 | 0:00:00.588154 | pv = 0.00e+00 | Gini train = 96.47% | Gini test = 29.89% ---> Feature selected: Cabin
Step 03 | 0:00:00.756257 | pv = 5.67e-24 | Gini train = 97.12% | Gini test = 37.79% ---> Feature selected: Spa
Step 04 | 0:00:00.947089 | pv = 3.10e-11 | Gini train = 97.31% | Gini test = 41.95% ---> Feature selected: RoomService
Step 05 | 0:00:00.989578 | pv = 3.52e-12 | Gini train = 97.49% | Gini test = 43.38% ---> Feature selected: VRDeck
------------------------------------------------------------------------------------------------------------------------
En el siguiente paso ni el KS ni el GINI del train suben m치s de un 0.20 o un 0.30 respectivamente, detenemos el proceso
------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['CryoSleep', 'Cabin', 'Spa', 'RoomService', 'VRDeck']
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 90.52% de KS y un 97.49% de Gini en la muestra de entrenamiento
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 43.76% de KS y un 43.38% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Hacemos tres observaciones:

1) <span style='color:blue'>La primera variable que est치 entrando, `CryoSleep`, es booleana, no hay ning칰n problema

In [14]:
me.proc_freq(X, 'CryoSleep')

           frequency   percent
CryoSleep
False           5439  0.625676
True            3037  0.349362
NaN              217  0.024963

2) <span style='color:blue'>Nos avisa de que la variable `VIP` no ha podido agruparse por excesiva concentraci칩n y resulta que efectivamente hay un valor que se repite en m치s del 95% de los casos (podr칤a ser que no fuera superior al 95% en la muestra total y si lo fuera la submuestra del train).<br>Si quisi칠ramos que el modelo intentar치 incluir esta variable habr칤a que pedir m치s flexibilidad en el autogrouping rebajando el umbral m칤nimo de porcentaje de poblaci칩n por grupo, por ejemplo pasando como argumento a scorecard autogrp_dict_min_pct={'VIP': 0.02})

In [15]:
me.proc_freq(X, 'VIP')

       frequency   percent
VIP
False       8291  0.953756
True         199  0.022892
NaN          203  0.023352

3) <span style='color:blue'>Al igual que antes nos avisa de posible sobreajuste por `Cabin`, probamos a quitarla

In [16]:
modelo_spaceship2 = me.scorecard(excluded_vars=['PassengerId', 'Name', 'Cabin']).fit(X, y)

Particionado 70-30 estratificado en el target terminado
------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas por alg칰n error, seguramente por excesiva concentraci칩n en alg칰n valor (> 95%) : ['VIP']
------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (14) superior al n칰mero de variables candidatas (9)
------------------------------------------------------------------------------------------------------------------------
Step 01 | 0:00:00.628840 | pv = 0.00e+00 | Gini train = 43.60% | Gini test = 44.52% ---> Feature selected: CryoSleep
Step 02 | 0:00:00.692885 | pv = 3.93e-43 | Gini train = 53.24% | Gini test = 53.21% ---> Feature selected: RoomService
Step 03 | 0:00:00.744656 | pv = 6.15e-45 | Gini train = 58.52% | Gini test = 59.29% ---> Feature selected: Spa
Step 04 | 0:00:00.796644 | pv = 1.85e-62 | Gini train = 63.38% | Gini test = 64.36% ---> Feature selected: HomePlanet
Step 05 | 0:00:00.828341 | pv = 1.73e-56 | Gini train = 67.10% | Gini test = 67.69% ---> Feature selected: VRDeck
Step 06 | 0:00:00.796500 | pv = 6.75e-07 | Gini train = 67.44% | Gini test = 68.33% ---> Feature selected: Destination
------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso
------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['CryoSleep', 'RoomService', 'Spa', 'HomePlanet', 'VRDeck', 'Destination']
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 53.62% de KS y un 67.44% de Gini en la muestra de entrenamiento
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 55.22% de KS y un 68.33% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>En esta segunda versi칩n ya no teneos sobreajuste ninguno... Sin embargo, podemos echar un vistazo a los p-valores a ver

In [17]:
modelo_spaceship2.pvalues

{'CryoSleep': 8.501261536649443e-06,
 'RoomService': 3.7894758380443915e-58,
 'Spa': 1.3662015415267725e-64,
 'HomePlanet': 6.614309530531033e-79,
 'VRDeck': 9.284706908288542e-58,
 'Destination': 6.749699441276009e-07}

<span style='color:blue'>Claramente, `CryoSleep` y `Destination` tienen unos pvalores que, si bien s칤 son superiores al umbral por defecto de 0.01 (porque si no habr칤an salido en alg칰n paso del stepwise), son muy inferiores a la media del resto de features...<br>Podemos mirar si prescindiendo de alguna de ellas (o de ambas) obtenemos un modelo con m칠tricas similares tanto en train como en test

In [18]:
features1 = [i for i in modelo_spaceship2.features if i != 'CryoSleep']
# features2 = [i for i in modelo_spaceship2.features if i != 'Destination']
# features3 = [i for i in modelo_spaceship2.features if i != 'CryoSleep' and i!= 'Destination']

modelo_spaceship2_alt1 = me.scorecard(features=features1).fit(X, y)
# modelo_spaceship2_alt2 = me.scorecard(features=features2).fit(X, y)
# modelo_spaceship2_alt3 = me.scorecard(features=features3).fit(X, y)

Particionado 70-30 estratificado en el target terminado
------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------
Step 01 | 0:00:00.000000 | pv = 0.00e+00 | Gini train = 36.75% | Gini test = 35.26% ---> Feature selected: RoomService
Step 02 | 0:00:00.000000 | pv = 0.00e+00 | Gini train = 53.76% | Gini test = 53.85% ---> Feature selected: Spa
Step 03 | 0:00:00.000000 | pv = 4.76e-76 | Gini train = 61.45% | Gini test = 62.50% ---> Feature selected: HomePlanet
Step 04 | 0:00:00.000000 | pv = 1.63e-83 | Gini train = 66.82% | Gini test = 67.51% ---> Feature selected: VRDeck
Step 05 | 0:00:00.000000 | pv = 4.27e-07 | Gini train = 67.53% | Gini test = 68.35% ---> Feature selected: Destination
------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['RoomService', 'Spa', 'HomePlanet', 'VRDeck', 'Destination']
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 54.18% de KS y un 67.53% de Gini en la muestra de entrenamiento
------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 55.36% de KS y un 68.35% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>En las tres pruebas obtenemos Ginis muy similares... Dejamos como opci칩n 3 la que elimina solo al `CryoSleep` ya que da un Gini ligeramente superior tanto en train como en test respecto a lo que ten칤amos. Al final cu치nto m치s sencillo sea un modelo, mejor. `#make_it_simple`

In [19]:
modelo_spaceship3 = modelo_spaceship2_alt1

<span style='color:blue'>Hacemos las predicciones y subimos los resultados a Kaggle 游

In [20]:
df_test = pd.read_csv('test dimension.csv')

prediction1 = modelo_spaceship1.predict(df_test, keep_columns=['PassengerId'], binary_treshold=500)\
.rename(columns={'prediction': 'Transported'})[['PassengerId', 'Transported']]
prediction1['Transported'] = np.where(prediction1['Transported'] == 1, True, False)
prediction1.to_csv('submission_spaceship1.csv', index=False) # Score en Kaggle = 0.51718

prediction2 = modelo_spaceship2.predict(df_test, keep_columns=['PassengerId'], binary_treshold=500)\
.rename(columns={'prediction': 'Transported'})[['PassengerId', 'Transported']]
prediction2['Transported'] = np.where(prediction2['Transported'] == 1, True, False)
prediction2.to_csv('submission_spaceship2.csv', index=False) # Score en Kaggle = 0.77788

prediction3 = modelo_spaceship3.predict(df_test, keep_columns=['PassengerId'], binary_treshold=500)\
.rename(columns={'prediction': 'Transported'})[['PassengerId', 'Transported']]
prediction3['Transported'] = np.where(prediction3['Transported'] == 1, True, False)
prediction3.to_csv('submission_spaceship3.csv', index=False) # Score en Kaggle = 0.77788

<span style='color:blue'>Mostramos la scorecard del 칰ltimo modelo, que desempe침a igual que el anterior y es m치s sencillo

In [21]:
me.pretty_scorecard(modelo_spaceship3, color1='yellow')